* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}

.let {
  color: cornflowerblue;
}

.int_color {
  color: rgba(255, 255, 0, 0.889);
}

.wrap {
  overflow: hidden;
}

// 헤더
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  background-color: rgba($color: #ccc, $alpha: 0.9);
  z-index: 9999;

  ul {
    display: flex;
    justify-content: center;

    li {

      a {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        padding: 20px 25px;

        &.on {
          color: blue;
        }

      }
    }
  }
}

.container {
  width: 1280px;
  margin: 0 auto;
}

// 인트로코드
#intro {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .intro_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 50px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 2px;

      .under {
        position: relative;
        font-size: 60px;
      }

      .under::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: yellow;
      }
    }

    .bar {
      width: 300px;
      margin: 60px auto;
      color: #777;
    }

    .typing {
      padding-bottom: 70px;

      span {
        font-weight: 400;
        font-size: 45px;
      }

      .text {
        color: cornflowerblue;
        font-weight: 700;
      }

      .text::after {
        content: '';
        margin-left: .4rem;
        border-right: 2px solid #777;
        animation: cursor .9s infinite steps(2);
      }

      @keyframes cursor {
        from {
          border-right: 2px solid #222;
        }

        to {
          border-right: 2px solid #777;
        }
      }
    }

    .down {
      position: absolute;
      bottom: 60px;
      animation: ani 2s infinite;

      @keyframes ani {
        0% {
          bottom: 60px;
        }

        40% {
          bottom: 40px;
        }

        100% {
          bottom: 60px;
        }
      }

      span,
      i {
        display: block;
        text-align: center;
        color: #ccc;
      }

      .scroll_text {
        span {
          line-height: 25px;
          font-size: 26px;
        }
      }

      .down_icon {
        padding-top: 10px;

        i {
          font-size: 34px;
          font-weight: 700;
          line-height: 30px;

        }
      }
    }
  }
}


// 프로필
#profile {
  padding: 60px 0;

  h1 {
    text-align: center;
    font-size: 55px;
    padding-bottom: 40px;
    color: green;
  }

  .row {
    display: flex;
    justify-content: space-between;

    p,
    a {
      font-size: 20px;
    }

    .tit {
      font-weight: bolder;
      font-size: 24px;
    }

    .profile_img {
      width: 380px;
      padding-top: 30px;

      img {
        display: block;
        width: 100%;
        height: 500px;
      }
    }

    .about_me {
      margin-left: 20px;

      ul {
        li {
          margin-bottom: 15px;


        }
      }
    }

    .education {
      p {
        margin-bottom: 5px;
      }

      .certificate {
        margin-top: 40px;
      }
    }
  }
}


#skill {
  h1 {
    text-align: center;
    font-size: 55px;
    padding-bottom: 40px;
    color: green;
  }

  .skill_box {
    display: flex;
    
    .skill_left {
      display: flex;
      >div {
        width: 200px;
        line-height: 200px;
        text-align: center;
        border: 1px solid black;
        border-radius: 50%;
      }
    }

  }
}



//반응형 코드
@media (max-width:1280px) {
  #intro {
    .intro_box {
      span {
        font-size: 40px;

        .under {
          font-size: 48px;
        }
      }

      .typing {
        span {
          font-size: 36px;

        }
      }
    }
  }
}


//모바일
@media (max-width:680px) {
  #intro {
    .intro_box {
      span {
        font-size: 20px;

        .under {
          font-size: 26px;
        }
      }

      .typing {
        span {
          font-size: 18px;

        }
      }

      .down {
        position: absolute;
        animation: ani 2s infinite;

        @keyframes ani {
          0% {
            bottom: 25px;
          }

          40% {
            bottom: 10px;
          }

          100% {
            bottom: 25px;
          }
        }

        span,
        i {
          display: block;
          text-align: center;
          color: #ccc;
        }

        .scroll_text {
          span {
            line-height: 20px;
            font-size: 22px;
          }
        }

        .down_icon {
          padding-top: 10px;

          i {
            font-size: 28px;
            font-weight: 700;
            line-height: 30px;

          }
        }
      }
    }
  }

  .container {
    width: 100%;
    margin: auto;
  }

  #profile {
    .row {
      flex-direction: column;

      p,
      a {
        font-size: 18px;
      }

      .profile_img {
        width: calc(100% - 80px);
        margin: 0 auto;
        padding: 0;

        img {
          display: block;
          width: 100%;
          height: 100%
        }
      }

      .about_me {
        margin: 20px 0px 20px 40px;
      }
    }

    .education {
      margin: 0 0 0 40px;
    }
  }
}